/* style CSS */

@font-face {
    font-family: sans;
    src: url(../font/EqualSans.ttf);
}

body {background-image: url("../img/bg.jpg");background-repeat: no-repeat;background-size: cover;}
		
		#side_nav{border: 2px solid;position:fixed;height: 100%;}

		#nav-button{vertical-align: left;background-color: transparent;font-size:3vw;margin-left: 3%;position: absolute;cursor: pointer;}
	
		header h1{color: white;font-weight: bold; text-transform: uppercase;font-size:4vw;text-shadow:  10px 3px 5px black;vertical-align: middle;text-align: center;margin: 0 auto;}
			header h1 img{width: 6%;height:6%;margin-left: -1%;margin-right: -1%;}

		#get-date{border-radius:15px;background-color:rgba(255, 255, 255, 0.8);box-shadow: 0px 0px 20px 10px;padding-bottom: 6%;margin-left:57em;width: 45%;}
			#gd_logo{background-color: #CFBBA0;width: 4.5em;height: 4.5em;border-radius: 50%;float: none;margin: 0 auto;margin-top:20px;}
				.fa-map-marker{font-size:3em;position: relative;margin:18% 30%;}
			#get-date h4{color:#4F4B4A;text-align: center;font-size:2em;margin-top:20px;margin-bottom:2em;}
			#gd_section1{margin-top:20px; }
				#gd_section1 img{width: 3em;height: 4em;color:#4F4B4A;margin-left:3%;}
				#gd_section1 button{width: 1em;height: 3em;background-color: #CFBBA0;border-radius:10px;box-shadow: 0px 0px 12px 0.2px;color:#4F4B4A; font-size:1.25em;}
			#span2{color:#4F4B4A;text-align: center;font-size:2em;margin-top:1em;}
			.selects {background-color: #CFBBA0;border-radius:10px;box-shadow: 0px 0px 12px 0.2px;color:#4F4B4A; font-size:1.25em;display: block; margin: 0 auto;margin-bottom:60px;margin-top:40px;width: 210px;height: 40px;padding-left:25px;font-size: 1.25em;}
			#gd-submit{background-color: #CFBBA0;border-radius:10px;box-shadow: 0px 0px 12px 0.2px;color:#4F4B4A; font-size:1.50em;margin-left: 8%;margin-top: 1%;height: 2em;} 